.mainContainer {
    background-color: yellow;
    margin: 2vw 0;
}

.iconImageMobileStyle {
    width: 100px;
    height: 100px;
}

.iconImageDesktopStyle {}

.title {}

.question {}

.articleHead {}

.article {}

.priceRow {}

.priceRow > p {
    display: inline-block;
}