.wrapper {
    width: clamp(600px, 100%, 100%);
    aspect-ratio: 1000 / 574;
}

.backgroundImage {
    width: clamp(600px, 100%, 100%);
}

.contentWrapper {
    padding-bottom: 4%;

    /* test border */
    /* border: red dotted 4px; */
}

/* .desktopImageWrapper {

} */

.logoImage {
    width: 20%;
    margin-left: 2%;
    margin-right: auto;
}

.contentImage {
    width: 45%;
    margin-top: -6%;
    margin-bottom: -4%;
}

.h2Style {
    font-size: 3.6vw;
}

.miniWrapper {}

.divider {
    width: 30%;
    border-width: 0.25vw;
}

.button {
    width: 25%;
    
    font-size: 1.8vw;
    line-height: 4vw;  
}