@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Merriweather:wght@400;700&family=Montserrat:ital,wght@0,100;0,300;0,500;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.testimonialheader{
    background-color: #BD742C;
    height: 30vh;  
}
.headContainer{
    text-align: center;
    padding: 1.4em .5em;
}
.pStyle{
    text-align: center;
}

.mainConStyle{
    width: 100%;
    background-image: url(../../assets/mobile-testimony-background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2em 0;
    color: #273D65;
}

.secondaryMainContainer{
    width: 90%;
    margin: 0 auto;
}

.headContainerh1{
    font-family: "EB Garamond";
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.pStyle{
    font-size: 1.3rem;
    text-align: justify;
    padding: 1em 0;
}

.cardsConStyle{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.readMoreBtn{
    margin: 0 auto;
    padding:1em 2em;
    border: none;
    border-radius: .5rem;
    background-color: #273D65;
    color: #ffff;
}

@media screen and (min-width:768px){
    .cardsConStyle{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .mainConStyle{
        background-image: url(../../assets/desktop-testimony-background-optimized.jpg);
    }
    .secondaryMainContainer{
        width: 75%;
    }

    .testimonialheader{
       height: 55vh;
        
    }
    .pStyle{
        text-align: center;
    }
    
}